.App {
  padding: 30px;
  display: flex;
  background-color: lemonchiffon;
  height: 100vh;
}

.App > div {
  margin-right: 20px;
}

.todolist {
  border: 2px solid gray;
  background-color: beige;
  border-radius: 5px;
  padding: 15px;
  height: max-content;
}
.task {
  font-weight: bold;

}

.task_done {
  text-decoration: line-through;
  opacity: 0.5;
}

.btn_active {
  background-color: chocolate;
  color: white;
  border-radius: 3px;
  border: 2px solid chocolate;
}
.input_error {
  border: 2px solid red;
  outline: none;
}


